@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}

.carousel-caption {
	bottom: 6rem;
	z-index: 1;
}
.carousel-inner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(29, 29, 29, 0.7);
    z-index: 1;
}
.silder-heading{
    font-weight: 600;
    font-size: 65px;
    color: #FFFFFF;
}
.silder-paragraph{
    font-weight: 400;
    font-size: 18px;
}
.btn-slider{
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    background-color: #289BDE;
    color: #FFFFFF;
}
.btn-slider:hover{
    background-color: #FFFFFF;
    color: #289BDE;
}
.courses-heading{
    font-weight: 600;
    font-size: 45px;
    color: #1D1D1D;
    text-align: center;
}
.courses-paragraph{
    font-weight: 400;
    font-size: 16px;
    color: #777777;
    text-align: center;
}
.card-heading{
    font-weight: 600;
    font-size: 20px;
    color: #4A4A4A;
    text-align: start;
}
.card-paragraph{
    font-weight: 400;
    font-size: 16px;
    color: #777777;
    text-align: start;
}
.card-price{
    font-weight: 600;
    font-size: 18px;
    color: #289BDE;
    text-align: start;
}
.advertise{
    background-color: #F4FAFD;
}
.advertise-heading{
    font-weight: 600;
    font-size: 45px;
    color: #1D1D1D;
}
.advertise-paragraph{
    font-weight: 400;
    font-size: 16px;
    color: #777777;
    margin: 0;
}
.advertise-paragraph-sec{
    font-weight: 500;
    font-size: 20px;
    color: #777777;
    margin: 0;
}
.bg-registration{
    background-color: #289BDE;
}
.registration-heading{
    font-weight: 600;
    font-size: 45px;
    color: #FFFFFF;
}
.registration-paragraph{
    font-weight: 400;
    font-size: 16px;
    color: #F4F4F4;
    margin: 0;
}
.btn-register{
    text-decoration: none;
    background-color: #FFFFFF;
    color: #289BDE;
}
.btn-register:hover{
    background-color: #289BDE;
    color: #FFFFFF;
}
.successfull-heading{
    text-align: start;
}

/* -------------
   Media Queries
   ------------- */
/* Mobile View */
@media screen and (max-width: 576px) {
    .carousel-caption{
        bottom: -1rem;
    }
    .silder-heading{
        font-size: 20px;
    }
    .silder-paragraph{
        font-size: 12px;
    }
    .btn-slider{
        font-size: 16px;
    }
    .courses-heading, .registration-heading, .advertise-heading{
        font-size: 18px;
    }
    .courses-paragraph, .registration-paragraph, .advertise-paragraph{
        font-size: 14px;
    }
    #dam, #pgm, #mgdv, #ahn{
        display: none;
    }
    .advertise-paragraph-sec{
        font-size: 16px;
    }
    .successfull-heading{
        text-align: center;
    }
}
/* Tab View */
@media screen and (min-width: 576px) and (max-width: 992px){
    .carousel-caption{
        bottom: 3rem;
    }
    .silder-heading{
        font-size: 40px;
    }
    .silder-paragraph{
        font-size: 16px;
    }
    .btn-slider{
        font-size: 18px;
    }
    .courses-heading, .registration-heading, .advertise-heading{
        font-size: 30px;
    }
    .courses-paragraph, .registration-paragraph, .advertise-paragraph, .advertise-paragraph-sec{
        font-size: 16px;
    }
    #dam, #pgm, #mgdv, #btn-va{
        display: none;
    }
}